In [2]:
import pandas as pd
import numpy as np
import random

In [3]:
# server id = numeric
#1000 rows
#server_priority = "low,medium,high"
#upo_time in hours
#respone 0 or 1
#train and(valid maybe) test 
#use a metric - accuracy
#any algorithm #( logistic regression)
# understand the data

df = pd.DataFrame(np.random.randn(5000, 5),columns=["server_id","server_priority","server_load","up_Time","Response"])

In [4]:
df['server_id'] = np.random.randint(0,5000,size = len(df))

In [5]:
priorities = ["low","medium","high"]
server_priority = np.random.choice(priorities,size = len(df))

In [6]:
df['server_priority'] = server_priority

In [7]:
time = np.random.randint(0,400,size = len(df))

In [8]:
df['up_Time'] = time

In [9]:
df['up_Time'] = df['up_Time']/60

In [10]:
response = [0,1]
Responses = np.random.choice(response,len(df))
df['Response'] = Responses

In [11]:
df

      server_id server_priority  server_load   up_Time  Response
0          4163             low    -0.084750  5.600000         1
1          3037             low     2.112320  1.950000         1
2           791             low     1.890366  6.216667         0
3          4898          medium     0.372862  6.366667         0
4          1079             low    -0.617716  6.050000         1
...         ...             ...          ...       ...       ...
4995       1271             low    -1.157479  5.600000         0
4996       2616            high    -1.472682  6.116667         0
4997       2053             low    -0.562375  2.100000         0
4998       3173          medium     0.038765  3.450000         1
4999       3173            high     0.774974  3.116667         0

[5000 rows x 5 columns]

In [16]:
X = dfs.drop(labels="Response",axis=1)
Y = dfs["Response"]

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_valid,Y_train,Y_valid = train_test_split(X,Y,test_size = 0.25,random_state=42)

In [19]:
len(X_train), len(Y_train),len(X_valid),len(Y_valid)

(3750, 3750, 1250, 1250)

In [20]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
clf = RandomForestClassifier(n_estimators=20)

In [22]:
clf.get_params()

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 'warn',
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [13]:
from sklearn.preprocessing import OneHotEncoder

In [14]:
dfs = pd.get_dummies(df)

In [15]:
dfs

,server_id,server_load,up_Time,Response,server_priority_high,server_priority_low,server_priority_medium
0,4163,-0.084750,5.600000,1,0,1,0
1,3037,2.112320,1.950000,1,0,1,0
2,791,1.890366,6.216667,0,0,1,0
3,4898,0.372862,6.366667,0,0,0,1
4,1079,-0.617716,6.050000,1,0,1,0
...,...,...,...,...,...,...,...
4995,1271,-1.157479,5.600000,0,0,1,0
4996,2616,-1.472682,6.116667,0,1,0,0
4997,2053,-0.562375,2.100000,0,0,1,0
4998,3173,0.038765,3.450000,1,0,0,1
4999,3173,0.774974,3.116667,0,1,0,0

In [32]:
clf.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
model = LogisticRegression()

In [42]:
model.fit(X_train,Y_train)

C:\Users\shahi\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
y_predictions = model.predict(X_valid)

In [44]:
accuracy_score(Y_valid,y_predictions)

0.5056

In [33]:
y_preds = clf.predict(X_valid)

In [34]:
clf.score(X_train,Y_train)

0.9968

In [35]:
clf.score(X_valid,Y_valid)

0.5112

In [36]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [37]:
accuracy_score(Y_valid,y_preds)

0.5112

In [38]:
confusion_matrix(Y_valid,y_preds)

array([[365, 268],
       [343, 274]], dtype=int64)