In [24]:
import pandas as pd
import numpy as np
import random

In [13]:
# server id = numeric
#1000 rows
#server_priority = "low,medium,high"
#upo_time in hours
#respone 0 or 1
#train and(valid maybe) test 
#use a metric - accuracy
#any algorithm #( logistic regression)
# understand the data

df = pd.DataFrame(np.random.randn(5000, 5),columns=["server_id","server_priority","server_load","up_Time","Response"])

In [14]:
df['server_id'] = np.random.randint(0,5000,size = len(df))

In [16]:
priorities = ["low","medium","high"]
server_priority = np.random.choice(priorities,size = len(df))

In [18]:
df['server_priority'] = server_priority

In [44]:
time = np.random.randint(0,400,size = len(df))

In [45]:
df['up_Time'] = time

In [50]:
df['up_Time'] = df['up_Time']/60

In [52]:
response = [0,1]
Responses = np.random.choice(response,len(df))
df['Response'] = Responses

In [53]:
df

      server_id server_priority  server_load   up_Time  Response
0          4430          medium     1.132832  3.966667         1
1          1425             low     0.659621  0.066667         0
2          2764             low     0.703794  1.000000         1
3          1721             low     0.354409  3.433333         0
4           335            high     0.258440  2.766667         1
...         ...             ...          ...       ...       ...
4995       1069            high    -0.608035  1.883333         0
4996       2173          medium     1.702898  5.750000         0
4997       4556             low    -0.001059  5.250000         0
4998       3210          medium    -0.300252  3.483333         0
4999       2216            high    -0.439099  2.466667         1

[5000 rows x 5 columns]

In [91]:
X = dfs.drop(labels="Response",axis=1)
Y = dfs["Response"]

In [92]:
from sklearn.model_selection import train_test_split

In [93]:
X_train,X_valid,Y_train,Y_valid = train_test_split(X,Y,test_size = 0.25,random_state=42)

In [94]:
len(X_train), len(Y_train),len(X_valid),len(Y_valid)

(3750, 3750, 1250, 1250)

In [95]:
from sklearn.ensemble import RandomForestClassifier

In [96]:
clf = RandomForestClassifier()

In [97]:
clf.get_params()

{'bootstrap': True,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 'warn',
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [82]:
from sklearn.preprocessing import OneHotEncoder

In [88]:
dfs = pd.get_dummies(df)

In [89]:
dfs

,server_id,server_load,up_Time,Response,server_priority_high,server_priority_low,server_priority_medium
0,4430,1.132832,3.966667,1,0,0,1
1,1425,0.659621,0.066667,0,0,1,0
2,2764,0.703794,1.000000,1,0,1,0
3,1721,0.354409,3.433333,0,0,1,0
4,335,0.258440,2.766667,1,1,0,0
...,...,...,...,...,...,...,...
4995,1069,-0.608035,1.883333,0,1,0,0
4996,2173,1.702898,5.750000,0,0,0,1
4997,4556,-0.001059,5.250000,0,0,1,0
4998,3210,-0.300252,3.483333,0,0,0,1
4999,2216,-0.439099,2.466667,1,1,0,0

In [98]:
clf.fit(X,Y)

C:\Users\shahi\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [99]:
y_preds = clf.predict(X_valid)

In [100]:
clf.score(X_train,Y_train)

0.9818666666666667

In [102]:
clf.score(X_valid,Y_valid)

0.9792

In [103]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [105]:
accuracy_score(Y_valid,y_preds)

0.9792

In [107]:
confusion_matrix(Y_valid,y_preds)

array([[621,   2],
       [ 24, 603]], dtype=int64)